@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: montserrat;
  src: url('/Montserrat-Bold.ttf');
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: montserrat;
}

.caixa1{
  background-color: rgb(70, 70, 70);
  width: 500px;
  height: 500px;
}

.curto{
  letter-spacing: -0.1;
}

.caixa2{
  background-color: white;
  width: 400px;
  height: 500px;
}

.caixa3{
  display: flex;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #171717;
  /* background-image: url(fundo.jpg);
  background-size: cover; */
  width: 600px;
  height: 800px;
}

.caixa4{
  background-color: #fafafa;
  outline: 2px solid black;
  outline-offset: 1px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 600px;
}

.botao{
  border-radius: 8px;
  margin-top: 20px;
  font-size: 17px;
  width: 70px;
  height: 35px;
  animation: botao 1s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}

.botao:hover{
  background-color: rgb(255, 179, 38);
  transition: 0.2s ease-in-out;
}

@keyframes botao {
  from{
    transform: translateY(190px);
    opacity: 0;
  }

  to{
    transform: translateY(0px);
    opacity: 1;
  }
}

.botao2{
  background-color: rgb(24, 24, 24);
  color: white;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 15px;
  width: 60px;
  height: 25px;
  animation: botao 1s;
  animation-delay: 4s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}

.botao2:hover{
  background-color: white;
  color: black;
  transition: 0.2s ease-in-out;
}

.titulo{
  font-size: 30px;
  margin-bottom: 20px;

  animation: descer 1s;
}

@keyframes descer{
  0%{
    transform: translateY(-300px);
    opacity: 0;
  }

  100%{
    transform: translateY(0px);
    opacity: 100;
  }
}

.inputTexto{
  animation: direita 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  background-color: rgb(218, 218, 218);
  color: black;
  width: 210px;
  padding: 3px;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes direita {
  from{
    transform: translateX(-200px);
    opacity: 0;
  }
  
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}

.inputTexto::placeholder{
  color: rgb(185, 185, 185);
  font-style: italic;
}

.inputSenha{
  background-color: rgb(218, 218, 218);
  color: black;
  width: 210px;
  padding: 3px;
  animation: esquerda 1s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes esquerda {
  from{
    transform: translateX(200px);
    opacity: 0;
  }
  
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}

.inputSenha::placeholder{
  color: rgb(185, 185, 185);
  font-style: italic;
}

.cadastrar{
  color: rgb(255, 174, 0);
  cursor: pointer;
  animation: esquerda 1.5s;
  animation-delay: 3s;
  animation-fill-mode: backwards;
  transition: 0.5s ease-in-out;
}

.cadastrar:hover{
  color: rgb(255, 194, 62);
  font-size: 17px;
}

.msg{
  animation: direita 2s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

.inputTexto:focus{
  outline: none;
}

.inputSenha:focus{
  outline: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

