@tailwind base;
@tailwind components;
@tailwind utilities;


.caixa1{
  background-color: rgb(70, 70, 70);
  width: 500px;
  height: 500px;
}

.curto{
  letter-spacing: -0.1;
}

.caixa2{
  background-color: white;
  width: 400px;
  height: 500px;
}

.caixa3{
  display: flex;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #171717;
  /* background-image: url(fundo.jpg);
  background-size: cover; */
  width: 600px;
  height: 800px;
}

.caixa4{
  background-color: #fafafa;
  outline: 2px solid black;
  outline-offset: 1px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 600px;
}

.botao{
  border-radius: 8px;
  margin-top: 20px;
  font-size: 15px;
  width: 60px;
  height: 25px;
}

.botao:hover{
  background-color: rgb(255, 179, 38);
  transition: 0.2s ease-in-out;
}

.botao2{
  background-color: black;
  color: white;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 15px;
  width: 60px;
  height: 25px;
}

.botao2:hover{
  background-color: white;
  color: black;
  transition: 0.2s ease-in-out;
}

.titulo{
  font-size: 30px;
}

.inputTexto{
  background-color: rgb(218, 218, 218);
  color: black;
  width: 210px;
  padding: 3px;
}

.inputTexto::placeholder{
  color: rgb(185, 185, 185);
  font-style: italic;
}

.inputSenha{
  background-color: rgb(218, 218, 218);
  color: black;
  width: 210px;
  padding: 3px;
}

.inputSenha::placeholder{
  color: rgb(185, 185, 185);
  font-style: italic;
}

.cadastrar{
  color: rgb(255, 174, 0);
  cursor: pointer;
}

.cadastrar:hover{
  color: rgb(240, 174, 33);
  transition: ease-in-out;
}

.inputTexto:focus{
  outline: none;
}

.inputSenha:focus{
  outline: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
